config.h
config.log
config.status
intltool-extract
intltool-merge
intltool-update
libtool
Makefile
stamp-h
stamp-h1
autom4te.cache
.idea
configure~
po/Makefile.in
po/POTFILES
depcomp
compile
src/.deps
po/stamp-it
*.o
src/firestarter
firestarter.schemas
po/.intltool-merge-cache.lock
*~